@use "../../global" as global;
//------------------------------------------------
//    ボタン
//------------------------------------------------
.c-button {
    width: 100%;
    height: 60px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    background-color: rgb(144, 238, 144, 0.8);
    transition: 0.3s;
    &:hover {
        color: black;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgb(144, 238, 144, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate( 0, -2px);
    }
}

.c-button__hover {
    &:hover {
        cursor: pointer;
        color: black;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgb(144, 238, 144, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate( 0, -2px);
    }
}

.c-button__hover--light {
    &:hover {
        //opacity: 0.8;
        color: rgba(245, 255, 245, 1); //black;
        //box-shadow: none;
        box-shadow: 0px 1px 4px rgba(0, 40, 0, 0.2);
        background-color: rgb(154, 250, 154, 0.8);
        border: 1px solid rgba(0, 0, 0, 0);
        transform: translate( 0, 0px);
    }
}

.c-button--r20 {
    border-radius: 20px;
}

.c-button--r40 {
    border-radius: 40px;
}


/*--------------------------------------------------
    ボタン
--------------------------------------------------*/

//  コンバージョンボタン
.c-button__cv {
    display: inline-block;
    position: relative;
    padding: 12px 50px;
    font-size: 18px;
    border-style: none;
    color: rgb(255, 255, 255);
    background: global.$color-accent-yellow;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0px 5px 5px #60606029;
    &:hover {
        &:enabled {
            cursor: pointer;
            background: #F18900;
        }
        &:disabled {
            cursor: auto;
            background: #B2B2B2;
            color: #fff;
        }
    }
    &:disabled {
        background: #B2B2B2;
        color: #fff;
    }
    @include global.mq('sp') {
        font-size: 16px;
        padding: 12px 32px;
    }
}


//------------------------------------------------
//    ボタン
//------------------------------------------------
.c-button__portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid global.$color-main-background-dark;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    background-color: global.$color-main-background-dark;
    transition: 0.3s;
    position: relative;
    // fontawesome用調整
    i {
        margin-left: 2px;
        margin-bottom: 2px;
    }
}

.c-button__portfolio--back {
    color: black;
    background-color: transparent;
}

.c-button__portfolio--submit {
    background-color: global.$color-main-background;
    &:disabled {
        background-color: lightgray;
        color: #555555;
        &:hover {
            color: #555555;
        }
        &.c-button__hover__goto {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}

.c-button__hover__goto {
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        border-radius: 8px;
        background-color: rgb(134, 228, 134, 1);
        z-index: -1;
        transition: 0.3s;
    }
    &:after {
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        left: 0;
        //
        $bgcol: white;
        background-color: $bgcol;
        z-index: -1;
        transition: 0.3s;
        clip-path: polygon(0 75%, 90% 75%, 90% 65%, 100% 80%, 90% 95%, 90% 85%, 0% 85%);
    }
    //  アローの位置調整
    &[data-goto="top"]{
        &:after {
            //clip-path: polygon(0 25%, 90% 25%, 90% 15%, 100% 30%, 90% 45%, 90% 35%, 0% 35%);
            clip-path: polygon(0 20%, 90% 20%, 90% 10%, 100% 25%, 90% 40%, 90% 30%, 0% 30%);
        }
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        &:after {
            width: 100%;
        }
        cursor: pointer;
        color: black;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        border: 1px solid global.$color-main-background;
        transform: translate( 0, 0);
    }
}

.c-button__hover__back {
    &:before {
        position: absolute;
        content: "";
        color: black;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        border-radius: 8px;
        background-color: rgb(134, 228, 134, 1);
        z-index: -1;
        transition: 0.3s;
    }
    &:after {
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        right: 0;
        //
        $bgcol: white;
        background-color: $bgcol;
        z-index: -1;
        transition: 0.3s;
        clip-path: polygon(100% 75%, 100% 85%, 10% 85%, 10% 95%, 0% 80%, 10% 65%, 10% 75%);
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        &:after {
            width: 100%;
        }
        cursor: pointer;
        color: black;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        border: 1px solid global.$color-main-background;
        transform: translate( 0, 0);
    }
}