@use "../../global" as g;
//--------------------------------
//  見出し
//--------------------------------
//  セクション見出し
.c-ttl__heading {
    position: relative;
    display: inline-block;
    font-size: 64px;
    line-height: 1.3em;
    font-family: g.$font-en;
    font-weight: bold;
    //margin-bottom: 16px;
    color: g.$color-font;
    text-shadow: 2px 2px 0 lightgreen, -2px -2px 0 lightgreen, -2px 2px 0 lightgreen, 2px -2px 0 lightgreen, 0px 2px 0 lightgreen, -2px 0 lightgreen, -2px 0 0 lightgreen, 2px 0 0 lightgreen;

    &.en{
        font-family: g.$font-en;
    }
    &.ja{
        font-family: g.$font-title;
    }
    p {
        position: relative;
        z-index: 2;
    }
    z-index: 1;
    .sub{
        display : block;
        font-size: 20px;
        line-height: 1.3em;
        font-family: g.$font-title;
        font-weight: 400;
        text-shadow: none;

        &.--center{
            display:flex;
            justify-content: center;
        }
    }
    &:before{
        position : absolute;
        content : "";
        left: -80px;
        top: -40px;
        height : 128px;
        background-image : url( "../images/common/heading_mark.png" );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        aspect-ratio: 128/128;
        z-index: -1;
    }
}

//  
.c-ttl__heading-sub {
    position: relative;
    display: inline-block;
    font-size: 48px;
    line-height: 1.3em;
    font-family: g.$font-en;
    font-weight: bold;
    color: g.$color-font-w;
    //$sc : lightgreen;
    $sc : g.$color-main-background;
    text-shadow: 2px 2px 0 $sc, -2px -2px 0  $sc, -2px 2px 0  $sc, 2px -2px 0  $sc, 0px 2px 0  $sc, -2px 0  $sc, -2px 0 0  $sc, 2px 0 0  $sc;
    p {
        position: relative;
        z-index: 2;
    }
    z-index: 1;
    .sub{
        display : block;
        font-size: 16px;
        line-height: 1.3em;
        color: g.$color-font;
        font-family: g.$font-title;
        font-weight: 400;
        text-shadow: none;
        &.--center{
            display:flex;
            justify-content: center;
        }
    }
}


//--------------------------------------------
//  タブ
@include g.mq('sp-tab2') {
}

//--------------------------------------------
//  SP版
@include g.mq('sp') {
    .c-ttl__heading {
        font-size: 32px;
        line-height: 1.3em;    
        &:before{
            left: -40px;
            top: -20px;
            height : 64px;
        }
        //  中央寄せ
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .c-ttl__heading-sub {
        font-size: 24px;
        line-height: 1.3em;    
    }
}
