@use "../../global" as global;
//----------------------------------------
//   SPメニュー
//  ドロワー
//----------------------------------------
.p-spmenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 100vw;
    width: 100%;
    height: 100%;
    z-index: 400;
    transition: 0.3s;
    opacity: 0;
    &.open {
        opacity: 1;
        left: 0;
    }
    .l-header__buttonswrapper {
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        height: 100%;
        width: 100%;
        max-height: 120px;
    }
    .p-header__button {
        width: 100%;
        height: 80px;
        font-size: 24px;
    }
}

.p-spmenu__background {
    //  spmenuから出して別で動かす
    position: fixed;//absolute;
    width: 0;
    height: 100%;
    z-index: 20;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;    
    .stripe{
        width: 100vw;
        height: 25vh;
        height: 25dvh;
        background-color: global.$color-main-background;
        transform: translateX(100%);
    }
    .stripe:nth-child(1){
        grid-row-start: 1;//2;
    }
    .stripe:nth-child(2){
        grid-row-start: 2;//4;
    }
    .stripe:nth-child(3){
        grid-row-start: 3;//3;
    }
    .stripe:nth-child(4){
        grid-row-start: 4;//1;
    }    
}

.p-spmenu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 5;
    //  ヘッダーぶん
    margin-top: 80px;
    ul {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: min( calc( 100% - 40px), 400px );
        gap: 20px;
        text-align: left;
        padding-left: 20px;
        li {
            font-family : global.$font-NotoSansJP;
            color : global.$color-font-w;
            font-size: clamp(24px, 6vw, 28px);
            font-weight: 300;
            width: 100%;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            a {
                display: block;
                width: 100%;
                transition: text-shadow 0.3s;
                &:hover{
                    $tcol : rgba(200,220,50,1);//lightgreen;
                    text-shadow: 2px 2px 0 $tcol, -2px -2px 0 $tcol, -2px 2px 0 $tcol, 2px -2px 0 $tcol, 0px 2px 0 $tcol, -2px 0 $tcol, -2px 0 0 $tcol, 2px 0 0 $tcol;
                }
            }
        }
    }
}

//----------------------------------------
//  iPhone横向き時対応
//----------------------------------------
//  23/10現在、無理して横画面に個別対応するべきではないと考える
//  特殊すぎる環境で見切れるのは仕方ない
@media (orientation: landscape) and (max-width: 767px) {
    .p-spmenu__inner {
        width: 100%;
        margin-bottom: 0;
        ul {
            margin-top: 20px;
            gap: 10px;
            li {
                font-size: clamp(16px, 2vw, 28px);
                width: 50%;
            }
            margin-bottom:20px;
        }
    }
}


//--------------------------------
//  レスポンシブ
//--------------------------------
@include global.mq('tab-pc') {
    .p-spmenu {
        display:none;
    }    
    .p-spmenu__background {
        display:none;
    }
}
