/*==========================================================
#
#   色
#   
============================================================*/

$color-background-main: #364a36;
$color-main-cv:rgba(255, 255, 0, 1);
$color-main-background:#7EAB71;
$color-main-background-mid:#5e7e5e;
$color-main-background-dark:#364a36;
$color-main-bg-hover:#8ec280;
$color-button-contact:yellow;



//----------------------------------------
//      サイトの色指定
//----------------------------------------
$color-white : #FFFFFF;
$color-black : black;
$color-accent:lightgreen;
$color-accent-yellow:#FFF400;
$color-gray:#888888;
$color-lightgray:#F3F3F3;


//  文字色
$color-font : #1a1a1a;
$color-font-w : #FFFFFF;
$color-font-d : #555555; // disabled
$color-font-accent: goldenrod;// lightgreen;
$color-font-light: $color-font-w; // 

$color-font-dark : $color-font;
$color-font-title : $color-font;
$color-font-lead : $color-font;
