//  和文
$size-font-h1-jp:32px;
$size-font-h2-jp:28px;
$size-font-h3-jp:20px;
$size-font-h4-jp:16px;
$size-font-h5-jp:12px;
//  英文
$size-font-h1-en:38px;
$size-font-h2-en:36px;
$size-font-h3-en:20px;
$size-font-h4-en:18px;
$size-font-h5-en:14px;