//----------------------------------------------------
//  フォント
//----------------------------------------------------
$font-roboto: 'Roboto',
sans-serif;
$font-title: $font-roboto;
$font-lead: $font-roboto;

$font-hind: 'Hind',sans-serif;