//
@use "../../global" as global;
.u-margin__auto {
    margin: auto;
}

.u-margin__t20 {
    margin-top: 20px;
}

//
.u-margin__t40 {
    margin-top: 40px;
}

.u-margin__t60 {
    margin-top: 60px;
}

.u-margin__t80 {
    margin-top: 80px;
}

.u-margin__t100 {
    margin-top: 100px;
}

.u-margin__t120 {
    margin-top: 120px;
    @include global.mq('sp') {
        margin-top: 60px;
    }
}

//
.u-margin__b20 {
    margin-bottom: 20px;
}

//
.u-margin__b40 {
    margin-bottom: 40px;
}

.u-margin__b200 {
    margin-bottom: 200px;
}