//
@use "../../global" as global;
//
.u-maxwidth1100 {
    max-width: 1100px;
    @include global.mq('sp') {
        width: 100%;
    }
}

.u-maxwidth1180 {
    max-width: 1180px;
    @include global.mq('sp') {
        width: 100%;
    }
}

.u-size__h40 {
    height: 40px;
}

.u-size__h60 {
    height: 60px;
}