@use "../global" as g;
//--------------------------------
//    intro
//--------------------------------
.l-intro {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding : 100px 0;
    background-color : white;
}

.l-intro__inner {
    position: relative;
    width: 100%;
    max-width: 840px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    color : gray;
}

.l-intro__head {
    width: 100%;
    font-family : g.$font-NotoSansJP;
    text-align:left;
    h2{
        display: flex;
        flex-direction : row;
        position : relative;
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        span{
            width: fit-content;
            flex:none;
        }
        .line{
            flex:auto;
            width: 100%;
            margin : auto;
            margin-left: 40px;
            height: 1px;
            background-color : gray;
        }
    
    }
}

.l-intro__content {
    position :relative;
    display: flex;
    flex-direction : row;
    justify-content: center;
    margin-top : 60px;
    width: 100%;
    gap: 40px;
    .l-intro__ideal {
        font-size: 48px;
        color : goldenrod;
        font-family : g.$font-NotoSansJP;
        text-align:right;

    }
    .l-intro__lead {
        text-align:left;
        margin:auto;
    }

}





.coffee {
    position: absolute;//relative;
    display: flex;
    justify-content: center;
    left: 0;

    .coffee_text {
      position: absolute;
      bottom: 140px;
      width: 136px;
      //font-family: serif;
      //color: #47443b;
      font-size: 48px;
      color : goldenrod;
      font-family : g.$font-NotoSansJP;

      span {
        position: absolute;
        display: block;
        //font-size: 16px;
        offset-path: path("M97,304C97,304 294.454,336.553 419,304C543.546,271.447 580.462,247.296 571,214C561.538,180.704 559.648,169.635 525,165C490.352,160.365 111,165 111,165");
        //offset-path: path("m61.498,27.295c9.366,9.437,4.071,22.205-6.929,23.205-10.006.91-19.834-7.567-19.834-23.475,0-13,12.942-24.525,31.834-24.525,18.704,0,25.174,19.976,25,32-.231,16.017-7.03,24.708-13,34-18.22,28.357-18.22,49.926-13,58");
        opacity: 0;
        //animation: move-text 3.2s linear infinite, distort-text 3.2s linear infinite;
      }
  /*
      //@for $i from 1 through 17 {
        > span:nth-child(#{$i}) {
          animation-delay: $i * 0.1s;
        }
      }
  
      @keyframes move-text {
        0% {
          offset-distance: 0%;
          opacity: 0;
        }
        10%, 90% {
          opacity: 1;
        }
        100% {
          offset-distance: 100%;
          opacity: 0;
        }
      }
  
      @keyframes distort-text {
        45% {
          transform: scaleY(1);
        }
        65% {
          transform: scale(1, 1);
        }
        85% {
          transform: scale(1, 1);
        }
        100% {
          transform: scale(1, -0.5);
        }
      }
*/      
    }
  }
  
//--------------------------------
//  レスポンシブ
//--------------------------------
@include g.mq('sp-tab') {
    .l-intro__inner{
        max-width: 800px;
    }
    .l-intro__head {
        width: 100%;
    }
    .l-intro__content {
        width: 100%;
        .l-intro__ideal {
            width: 100%;
            font-size : 40px;
            line-height: 78px;
            max-width: 40%;
        }
        .l-intro__lead {
            width: 100%;
            max-width: 65%;
        }
    }
}

@include g.mq('sp') {
    .l-intro__inner{
        max-width: min( calc(100% - 24px), 600px );
        flex-direction: column;
    }
    .l-intro__head {
        h2{
            max-width: 100%;
            font-size: 16px;
        }
    }
    
    .l-intro__content {
        flex-direction : column;    
        max-width: calc(100% - 24px);
        font-size: 14px;
        .l-intro__ideal {
            max-width: 100%;
            line-height: inherit;
            text-align:center;
        }
        .l-intro__lead {
            max-width: 100%;
            text-align:center;
            margin-left: 0px;
        }
    }
}
